extends layout

block content

  // go through every post-preview received from api
  each item in data

    div(class="post-shop-window")

      // ----------------------------------------------------------------
      // HEADER
      // ----------------------------------------------------------------
      div(class="post-header") 
        - const postLink = 'post/' + item.post.id
        a(class="title", href= postLink) #{item.post.title}
        br
        span(class="grey") written #{item.post.publishedAt} by #{item.post.author.name}
      hr

      // ----------------------------------------------------------------
      // PLUG
      // ----------------------------------------------------------------
      p #{item.post.plug}

      // ----------------------------------------------------------------
      // FOOTER
      // ----------------------------------------------------------------
      div(class="post-footer")
        div(class="tags")
          each tag in item.post.tags
            <span>#{tag}</span> 
