extends layout

block content

  div(class="previews-container")

    div(class="previews")
      // go through every post-preview received from api
      each item in data.previews

        div(class="post-shop-window")

          // ----------------------------------------------------------------
          // HEADER
          // ----------------------------------------------------------------
          div(class="post-header") 
            a(class="title", href= item.actions.read.href) #{item.title}

            if item.actions.edit || item.actions.delete
              a(href="#", class="actions-access") ...

            br
            span(class="grey") written #{item.publishedAt} by #{item.author.name}
          hr

          // ----------------------------------------------------------------
          // PLUG
          // ----------------------------------------------------------------
          p #{item.plug}

          // ----------------------------------------------------------------
          // FOOTER
          // ----------------------------------------------------------------
          div(class="post-footer")
            div(class="tags")
              each tag in item.tags
                <span>#{tag}</span> 
    
    div(class="preview-navigation")   
      if data.actions.next
        a(href= data.actions.next.href) next
      if data.actions.previous
        a(href= data.actions.previous.href) previous
